# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Legacy-Master-Of-Souls.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\DxDzere\Documents\GitHub\Legacy-Master-Of-Souls\.idea\.idea.Legacy-Master-Of-Souls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
